<form>
    <h2>Sign Up</h2>
    <input type="text" [(ngModel)]="email" placeholder="email" name="email">
    <input type="password" [(ngModel)]="password" placeholder="password" name="password">
    <input type="password" [formControl]="term" [(ngModel)]="passwordVerify" name="passwordVerify" placeholder="verify password">
    <input type="text" [(ngModel)]="fName" placeholder="first name" name="fName">
    <input type="text" [(ngModel)]="lName" placeholder="last name" name="lName">
    <input type="text" [(ngModel)]="city" placeholder="city" name="city">
    <p-button label="submit" disabled="{{pwMatches}}" (click)="signUp()"></p-button>
</form>