form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    margin: 3% 0 3% 0;
    height: 37px;
    width: 320px;
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
}