<div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="pi pi-bars" style="line-height: 1.25;"></i></span>
    <input type="text" pInputText placeholder="Title">         
</div>

<div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
    <input type="text" pInputText placeholder="Author">         
</div>

<div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="pi pi-bars" style="line-height: 1.25;"></i></span>
    <input type="number" pInputText placeholder="ISBN">         
</div>

<button pButton type="button" label="Add" icon="pi pi-search" style="margin-right: .25em" (click)="addBook()">Add</button>