<div class="center-cont">
    <p (click)="this.signUp = !this.signUp">switch</p>
    <ng-template [ngIf]="signUp" [ngIfElse]="signIn">
        <app-sign-up>
        </app-sign-up>
    </ng-template>

    <ng-template #signIn>
        <app-sign-in>
        </app-sign-in>
    </ng-template>

</div>