<div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="pi pi-bars" style="line-height: 1.25;"></i></span>
    <input [(ngModel)]="title" type="text" pInputText placeholder="Title">         
</div>

<p-button type="button" label="submit" (click)="search()"></p-button>