<form>
    <h2>Sign In</h2>
    <input type="text" [(ngModel)]="email" placeholder="email" name="email">
    <input type="password" [(ngModel)]="password" placeholder="password" name="password">
    <p-button type="button" label="submit" (click)="signIn()" routerLink="home"></p-button>
</form>