<section class="shelf">

    <app-book class="book">
            <ng-container *ngFor="let book of books">
        
                    <p-card [style]="{width: '360px'}">
                        <div>
                            <h3>{{book.title}}</h3>
                            <p>{{book.author}}</p>
                            <p>{{book.isbn}}</p>
                            <p><em>{{book.available}}</em></p>
                        </div>
                    </p-card>
                
                </ng-container>
    </app-book>

</section>
