<div class="wrap">


    <p-card header="Search For Books" [style]="{width: '350px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="/assets/search.jpg">
        </p-header>
        <div>Cardholders can search by title, or browse all registered books.</div>
        <p-footer>
            <button pButton type="button" label="Browse" icon="pi pi-search" style="margin-right: .25em"
            routerLink="search"></button>
        </p-footer>
    </p-card>

    <p-card header="Add Books" [style]="{width: '350px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="/assets/add.jpg">
        </p-header>
        <div>Add a book to the collection here. </div>
        <p-footer>
            <button pButton type="button" routerLink="add" label="Add"></button>
        </p-footer>
    </p-card>


</div>